h1 {
    text-align: center;
    color: red;
}
h2 {
    color: lightblue;
}
.container {
    display: -ms-inline-grid;
    max-width: 90%;
    margin: 0%;
    padding-left: 15px;
    object-fit: contain;
}
.row1 {
    display: inline-flex;
    width: 100%;
    margin: 0px;
    object-fit: contain;
}
.row2 {
    display: inline-flex;
    width: 100%;
}
.row3 {
    display: inline-flex;
    width: 100%;
}
p {
    text-align: justify;
    width: 300px;
}
.image {
    width: 30%;
    display: inline-block;
    padding: 25px;
    margin: auto;
    object-fit: contain;
}
.text {
    width: 90%;
    margin: auto;
    object-fit: contain;
}